{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.css" />
{% endblock %}

{% block containerTitle 'Most Used Tags' %}

{% block containerActions %}{% endblock %}

{% block body %}
    {% embed '_partials/table.html.twig' with {records: mostUsedTags, filterBy: '0', noId: true} %}
        {% block thead %}
            <th>Tag</th>
            <th>Used</th>
        {% endblock %}

        {% block headActions %}{% endblock %}

        {% block tbody %}
            <td><span class="badge badge-info">{{ record.name }}</span></td>
            <td>{{ record.counter }}</td>
        {% endblock %}

        {% block tbodyActions %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
    <script src="{{ asset('js/datatable.js') }}"></script>
{% endblock %}

