{{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Insert the Title'}}) }}
                {{ form_errors(form.title) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                {{ form_label(form.price) }}
                {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'Insert the Price'}}) }}
                {{ form_errors(form.price) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                {{ form_label(form.stock) }}
                {{ form_widget(form.stock, {'attr': {'class': 'form-control', 'placeholder': 'Insert the Stock'}}) }}
                {{ form_errors(form.stock) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                {{ form_label(form.tags) }}
                {{ form_widget(form.tags, {'attr': {'class': 'form-control', 'placeholder': 'Insert the Tags'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Insert the Description', 'rows': '4'}}) }}
                {{ form_errors(form.description) }}
            </div>
        </div>
    </div>

    <label>Images</label>
    {% if product.id is not null %}
        <div id="images" style="margin-bottom: 15px; display: inline-flex">
            {% for image in product.images %}
                <div class="rounded mr-3" style="width: 150px;">
                    <img alt="{{ image.title }}" data-id="{{ image.id }}" title="{{ image.title }}" width="100" height="100" src="{{ asset(image.path) }}" />
                    <button class="btn btn-danger removePhoto" type="button">X</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <ul class="images mb-2" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"></ul>

    <button class="btn btn-primary mb-4">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}